@media only screen and (min-width: 362px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
   
    .navbar{
        height: 100px;
        background-color: rgb(103, 8, 255);
    }
    .main{
        background-color: rgb(230, 230, 230);
        height: 300px;
    }
    .navbar li{
        
        display: flex;
        column-gap: 30px;
        margin-right: 20px;
        margin-left: 10px;
        font-size: 11px;
        justify-content: center;
        background-color: rgb(103, 8, 255);
        text-decoration:none;
        transition: 300ms;
        
    }
    .navbar li a{
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        height: 25px;
        width:fit-content;
        border-radius: 5px;
        padding: 0.25%;
    }
    .navbar img{
        height: 50px;
        width: 80px;
        border-radius:10%;
        margin-top: -5px;
        margin-left: 0;
    }
    .navbar li :hover{
        opacity: 500%;
        scale: 200%;
        color: white;
    }
    #logonname{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color: white;
    }
    .logoname a{
        text-decoration: none;
        color: white;
    }
    .mainfirstimg img{
        height: 250px;
        float: right;
    }
    .main{
        display: flex;
        justify-content: center;
    }
    button{
        background-color: rgb(103, 8, 255);
        color: white;
        padding: 5px;
        border-radius: 5px;
        border: 0;
        
    }
    .btn{
        margin-left: 5px;
        margin-top: 20px;
    }
    .btndiv{
        display: flex;
    }
    button:hover{
        background-color: rgb(255, 255, 255);
        border: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: ease-out 300ms;
        transform:scale(1.1);
    }
    .center{
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
        transition: width 2s, height 4s;
        
        
    }
.firstservice{
    display: flex;
}
.firstservice img{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-top:30px;
    margin-left: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(255, 138, 5, 0.719);
}
.firstservice img:hover{
        transform: scale(110%);
        transition-duration: 300ms;
}
.fs1 span{
    margin-left: 40px;
    
}
.fs2 span{
    margin-left: 29px;
}
.secondservice{
    display: flex;
}
.secondservice img{
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-left: 20px;
    margin-top:30px ;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(212, 212, 212);
}
.secondservice img:hover{
    transform: scale(110%);
    transition-duration: 300ms;
}
.fs3 span{
    margin-left: 40px;
    
}
.fs4 span{
    margin-left: 29px;
}
form{
    background-color: rgba(0, 0, 0, 0.39);
    display: flex;
    flex-direction: column;
    padding: 8vw 8vw;
    width: 95%;
    max-width: 600px;
    border-radius: 10%;
    margin-left: 10px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}
.formDiv{
    background-color: rgba(182, 12, 12, 0.137);
    height: 550px;
}
.formDiv h1{
    width: 400px;
    margin-left: 5px;
    font-size: 25px;
    justify-self: center;
    padding: 15px;
}


}/* 350display end */
