
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    background-color: #1a1a1a;
    
}   
    @media screen and (max-width : 600px) {
        video{

            margin-top: 500px;
        }



    }