
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
    background-color: #1a1a1a;
    
}   
    @media screen and (max-width : 640px) {
      video{
          position: fixed;
          width: 600px;
          margin-top: 300px;
          
      }


    }