body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    
}   
a{
    text-decoration: none;
    color: white;
    font-size: large;
    margin-top: 20px;
    margin-left: 30px;   
}
a:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 12px;
}
.topbar{
    background-color: blue ;
    height: 60px;
    display: flex;
    padding: px;
    
}